<h3 align="center">Application Development using Angular</h3> <hr />

<h1>Welcome {{uname}}</h1>

<div>
  Username:{{uname}}<br/>
  Email:{{email}}<br/>
</div>
<hr />

<!-- <img src="../../assets/images/rrrimage.jpg" /> -->


<!-- <app-buy-product></app-buy-product> -->

<!-- <app-employee></app-employee> -->

<!-- <app-login></app-login> -->

<!-- <app-friends></app-friends> -->

<!-- <app-product-details-cardformat></app-product-details-cardformat> -->

<app-dept-details></app-dept-details>

<hr />

