.fancy {
    
    font-size: 15px;
    background-color: black;
    /* border-radius: 4px; */
    padding: 8px 20px;
    margin: 2px -2px;
    
}

.fancy-padding {
    background-color: white;
    padding: 8px 16px;
}