<h3 align="center">Application Development using Angular</h3>
<hr />

<!-- <img src="../../assets/images/rrrimage.jpg" /> -->


<!-- <app-buy-product></app-buy-product> -->

<!-- <app-employee></app-employee> -->

<!-- <app-login></app-login> -->

<!-- <app-friends></app-friends> -->

<!-- <app-dept-details></app-dept-details> -->

<!-- <app-student></app-student> -->

<!-- <app-product-list category="Mobile"></app-product-list>
<br />
<br />
<br />
<br />
<br /><br /><br /><br /><br /><br /><br />
<hr /> -->

<!-- <app-product-list category="Laptop"></app-product-list> -->

<!-- <app-student-grades></app-student-grades> -->
<!-- <app-employee></app-employee> -->


<!-- <app-sort-options (onColNameChange)="updateName($event)"></app-sort-options>
<hr />
 <app-employee [colName]="sortName"></app-employee> -->

<!-- <app-product-list></app-product-list> -->



<!-- <app-fancy-card>
    <h1 top>This is the header from the parent component</h1>
    <app-employee></app-employee>
    <h4 bottom>This is the footer from the parent Component</h4>
</app-fancy-card>
<app-fancy-card>
    <h1 top>This is the header from the parent component</h1>
    <app-my-skills></app-my-skills>
    <h4 bottom>This is the footer from the parent Component</h4>
</app-fancy-card> -->

<!-- <app-todo-list></app-todo-list> -->
<!-- <app-remote-users></app-remote-users> -->

<app-model-forms></app-model-forms>