<h3 align="center">Application Development using Angular</h3> <hr />

<!-- <img src="../../assets/images/rrrimage.jpg" /> -->


<!-- <app-buy-product></app-buy-product> -->

<!-- <app-employee></app-employee> -->

<!-- <app-login></app-login> -->

<!-- <app-friends></app-friends> -->

<!-- <app-dept-details></app-dept-details> -->

<!-- <app-student></app-student> -->

<!-- <app-product-list category="Mobile"></app-product-list>
<br />
<br />
<br />
<br />
<br /><br /><br /><br /><br /><br /><br />
<hr /> -->

<!-- <app-product-list category="Laptop"></app-product-list> -->

<app-student-grades></app-student-grades>


<!-- <app-sort-options (onColNameChange)="updateName($event)"></app-sort-options>
<hr />
 <app-employee [colName]="sortName"></app-employee> -->

